<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uwtórz książkę</title>
</head>
<body>
<h1>Utwórz książkę</h1>
<form th:object="${book}" method="post">
    <label>Autor:
        <select type="text" th:field="*{author}">
            <option th:each="author : ${authors}" th:value="${author.getId()}" th:text="${author.getFullName()}"></option>
        </select>
    </label>
    <label>Tytuł: <input type="text" th:field="*{title}"></label>
    <input type="submit">
</form>
</body>
</html>